@model LamborghiniAuto.Models.Vendita

@{
    ViewData["Title"] = "Delete";
}

<h1>Elimina</h1>


<div>
    <h4>Vendita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataVendita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataVendita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idMacchina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idMacchina)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Elimina" class="btn btn-danger" /> |
        <a asp-action="Index">Torna alla lista</a>
    </form>
</div>
