@model Tuple<List<LamborghiniAuto.Models.Vendita>, List<string>>

@{ ViewData["Title"] = "Vendite"; }

@{ string [] mesi = { "Gennaio", "Febbraio", "Marzo", "Aprile", "Maggio", "Giugno", "Luglio", "Agosto", "Settembre", "Ottobre", "Novembre", "Dicembre"}; }

<h1>Vendite</h1>

<p>
    <a asp-action="Create">Aggiungi vendita</a>
</p>

<div class="event-schedule-area-two bg-color pad100">
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade active show" id="home" role="tabpanel">
            <div class="table-responsive text-white">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Data</th>
                            <th scope="col">Auto</th>
                            <th scope="col">Informazioni</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.Item1.Count(); i++)
                        {
                        <tr class="inner-box">
                            <th scope="row">
                                <div class="event-date">
                                    <span>@Model.Item1[i].dataVendita.Day</span>
                                    <p>@mesi[Model.Item1[i].dataVendita.Month - 1] @Model.Item1[i].dataVendita.Year</p>
                                </div>
                            </th>
                            <td>
                                <div class="event-img">
                                    @{string percorso = $"img/{Model.Item2[i].Replace(" ", "")}.jpg";} 
                                    <img src=@percorso alt="" />
                                </div>
                            </td>
                            <td>
                                <div class="event-wrap">
                                    <div class="meta">
                                        <div class="organizers">
                                            <a href="#">Acquirente: @Model.Item1[i].cognome @Model.Item1[i].nome</a>
                                        </div>
                                        <div class="categories">
                                            <a href="#">Codice Fiscale: @Model.Item1[i].codFisc</a>
                                        </div>
                                        <div>
                                            <span>Ora: @Model.Item1[i].dataVendita.TimeOfDay</span>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="r-no">
                                    <a asp-action="Edit" asp-route-id="@Model.Item1[i].id">Modifica</a> |
                                    <a asp-action="Details" asp-route-id="@Model.Item1[i].id">Dettagli</a> |
                                    <a asp-action="Delete" asp-route-id="@Model.Item1[i].id">Elimina</a>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
