@model LamborghiniAuto.Models.Dipendente

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Dipendente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stipendio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stipendio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.mestiere)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.mestiere)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cognome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataNascita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dataNascita)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
