@model IEnumerable<LamborghiniAuto.Models.Dipendente>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-white">Dipendenti</h1>

<p>
    <a asp-action="AggiuntaDipendente">Assumi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p class="text-white">@Html.DisplayNameFor(model => model.stipendio)</p>
            </th>
            <th>
                <p class="text-white">@Html.DisplayNameFor(model => model.mestiere)</p>
            </th>
            <th>
                <p class="text-white">@Html.DisplayNameFor(model => model.nome)</p>
            </th>
            <th>
                <p class="text-white">@Html.DisplayNameFor(model => model.cognome)</p>
            </th>
            <th>
                <p class="text-white">@Html.DisplayNameFor(model => model.dataNascita)</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <p class="text-white">@Html.DisplayFor(modelItem => item.stipendio)</p>
            </td>
            <td>
                <p class="text-white">@Html.DisplayFor(modelItem => item.mestiere)</p>
            </td>
            <td>
                <p class="text-white">@Html.DisplayFor(modelItem => item.nome)</p>
            </td>
            <td>
                <p class="text-white">@Html.DisplayFor(modelItem => item.cognome)</p>
            </td>
            <td>
                <p class="text-white">
                @{
                    string data = item.dataNascita.ToShortDateString();
                }
                @Html.DisplayFor(modelItem => data)</p>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.id">Dettagli</a> |
                <a asp-action="Licenzia" asp-route-id="@item.id">Licenzia</a>
            </td>
        </tr>
}
    </tbody>
</table>
