@model LamborghiniAuto.Models.Cliente

@{
    ViewData["Title"] = "Dettagli";
}

<h1>Dettagli</h1>

<div class="text-white">
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cognome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cognome)
        </dd>
        <dt class = "col-sm-2">
            Codice Fiscale
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codFisc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dataNascita)
        </dt>
        <dd class = "col-sm-10">
            @{ string data = Model.dataNascita.ToShortDateString(); }
            @Html.DisplayFor(model => data)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Modifica</a> |
    <a asp-action="Index">Ritorna alla lista</a>
</div>
