@model IEnumerable<LamborghiniAuto.Models.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AggiuntaCliente">Aggiungi Cliente</a>
</p>
<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dataNascita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cognome)
            </td>
            <td>
                @{ string data = item.dataNascita.ToShortDateString(); }
                @Html.DisplayFor(modelItem => data)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Modifica</a> |
                <a asp-action="Details" asp-route-id="@item.id">Dettagli</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Elimina</a>
            </td>
        </tr>
}
    </tbody>
</table>
