@model Tuple<List<LamborghiniAuto.Models.Cliente>, List<LamborghiniAuto.Models.Auto>, List<LamborghiniAuto.Models.Dipendente>>

<script src="https://code.iconify.design/2/2.1.2/iconify.min.js"></script>

@{ ViewData["Title"] = "Personale e Magazzino"; }

<nav id="navbar-example2" class="navbar navbar-dark bg-warning px-3">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <b><a class="nav-link text-dark" href="#clienti">Clienti</a></b>
        </li>
        <li class="nav-item">
            <b><a class="nav-link text-dark" href="#dipendenti">Dipendenti</a></b>
        </li>
        <li class="nav-item">
            <b><a class="nav-link text-dark" href="#auto">Auto</a></b>
        </li>
    </ul>
</nav>
<br />

<h1 id="clienti">Clienti</h1>
<a class="text-warning mb-lg-5" asp-area="" asp-controller="Cliente" asp-action="Index">Vai a Clienti</a>

@foreach (var item in Model.Item1)
{
    <div class="job-box d-md-flex align-items-center justify-content-between mb-30 text-white">
        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                @{ string nomeCogn = $"{item.nome[0]}" + $"{item.cognome[0]}"; }
                @nomeCogn
            </div>
            <div class="job-content">
                <h5 class="text-center text-md-left">@item.nome @item.cognome</h5>
                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans pl-0">
                    <li class="mr-md-4">
                        @item.codFisc
                    </li>
                    <li class="mr-md-4">
                        @item.dataNascita.ToShortDateString()
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
<hr class="bg-white">

<h1 id="dipendenti">Dipendenti</h1>
<a class="text-warning m-0" asp-area="" asp-controller="Dipendente" asp-action="Index">Vai a Dipendenti</a>
@foreach (var item in Model.Item3)
{
    <div class="job-box d-md-flex align-items-center justify-content-between mb-30">

        <div class="job-left my-4 d-md-flex align-items-center flex-wrap text-white">
            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                @{ string nomeCogn = $"{item.nome[0]}" + $"{item.cognome[0]}"; }
                @nomeCogn
            </div>
            <div class="job-content">
                <h5 class="text-center text-md-left">@item.nome @item.cognome</h5>
                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans pl-0">
                    <li class="mr-md-3">
                        @item.codFisc
                    </li>
                    <li class="mr-md-3">
                        @item.stipendio
                    </li>
                    <li class="mr-md-3">
                        @item.mestiere
                    </li>
                    <li class="mr-md-3">
                        @item.dataNascita.ToShortDateString()
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
<hr class="bg-white">

<h1 id="auto">Auto</h1>
<a class="text-warning" asp-area="" asp-controller="Auto" asp-action="Index">Vai a Auto</a>

@foreach (var item in Model.Item2)
{
    <div class="job-box d-md-flex align-items-center justify-content-between mb-30 text-white">
        <div class="job-left my-4 d-md-flex align-items-center flex-wrap">
            <div class="img-holder mr-md-4 mb-md-0 mb-4 mx-auto mx-md-0 d-md-none d-lg-flex">
                @item.modello[0]@item.modello[1]
            </div>
            <div class="job-content">
                <h5 class="text-center text-md-left">@item.modello</h5>
                <ul class="d-md-flex flex-wrap text-capitalize ff-open-sans">
                    <li class="mr-md-4">
                        Pezzi disponibili: @item.pezziDisponibili
                    </li>
                    <li class="mr-md-4">
                        Pezzi venduti: @item.PezziVenduti
                    </li>
                </ul>
            </div>
        </div>
    </div>
}
