@model IEnumerable<LamborghiniAuto.Models.Finanza>

@{
    ViewData["Title"] = "Index";
}

<h1>Finanze</h1>

<table class="table text-white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.entrate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.uscite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ricavi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.entrate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.uscite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ricavi)
            </td>
        </tr>
}
    </tbody>
</table>
